NodeRed_flow/flows.json
[{"id":"81c5db.14d82a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cffaabc6.8b5c38","type":"mqtt out","z":"81c5db.14d82a28","name":"","topic":"esp32/user_input","qos":"","retain":"","broker":"13f35912.5996f7","x":510,"y":300,"wires":[]},{"id":"997de642.a6c548","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":2,"width":0,"height":0,"passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":90,"y":100,"wires":[["cffaabc6.8b5c38"]]},{"id":"9ebf4ad0.ece378","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":90,"y":160,"wires":[["cffaabc6.8b5c38"]]},{"id":"a8ae5e80.0aca5","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":4,"width":0,"height":0,"passthru":false,"label":"HALT","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"halt","payloadType":"str","topic":"","x":90,"y":220,"wires":[["cffaabc6.8b5c38"]]},{"id":"1542de42.7f92e2","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":5,"width":2,"height":1,"passthru":false,"label":"Date","tooltip":"","color":"","bgcolor":"","icon":"","payload":"date","payloadType":"str","topic":"","x":90,"y":340,"wires":[["cffaabc6.8b5c38"]]},{"id":"d7b131a3.fd958","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":8,"width":3,"height":1,"passthru":false,"label":"Clear Display","tooltip":"","color":"","bgcolor":"","icon":"","payload":"clear","payloadType":"str","topic":"","x":120,"y":520,"wires":[["cffaabc6.8b5c38"]]},{"id":"95ab19a8.896958","type":"mqtt in","z":"81c5db.14d82a28","name":"","topic":"esp32/output_topic","qos":"2","datatype":"auto","broker":"13f35912.5996f7","x":130,"y":640,"wires":[["ab9af0f5.55aea"]]},{"id":"ab9af0f5.55aea","type":"ui_text","z":"81c5db.14d82a28","group":"4b8854be.c3902c","order":1,"width":0,"height":0,"name":"Display","label":"","format":"{{msg.payload}}","layout":"col-center","x":480,"y":640,"wires":[]},{"id":"9a4f4141.c4acc","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":6,"width":3,"height":1,"passthru":false,"label":"IP ADDRESSES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ip","payloadType":"str","topic":"","x":120,"y":400,"wires":[["cffaabc6.8b5c38"]]},{"id":"97bc615.702a1a","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":7,"width":2,"height":1,"passthru":false,"label":"HISTORY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"history","payloadType":"str","topic":"","x":100,"y":460,"wires":[["cffaabc6.8b5c38"]]},{"id":"f30b7563.5ccac","type":"mqtt out","z":"81c5db.14d82a28","name":"","topic":"esp32/remote","qos":"","retain":"","broker":"13f35912.5996f7","x":1020,"y":160,"wires":[]},{"id":"c166a4c5.e9ed5","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":9,"width":2,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"update","payloadType":"str","topic":"","x":100,"y":280,"wires":[["cffaabc6.8b5c38"]]},{"id":"1fee5175.d4bbe7","type":"ui_button","z":"81c5db.14d82a28","name":"","group":"4b8854be.c3902c","order":10,"width":3,"height":1,"passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cancel","payloadType":"str","topic":"","x":110,"y":580,"wires":[["cffaabc6.8b5c38"]]},{"id":"13f35912.5996f7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4b8854be.c3902c","type":"ui_group","z":"","name":"System Control","tab":"675f427e.e168ac","order":1,"disp":true,"width":"5","collapse":false},{"id":"675f427e.e168ac","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]